{
    "tabWidth": 4,
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "BracketLine": true,
    "trailingComma": "all",
    "printWidth": 120,
    "plugins": ["prettier-plugin-svelte"]
}
